.kiki {
    position: absolute;
    height: 100%;
    width: auto;
    animation-name: sprite; 
    animation: sprite 0.8s steps(12) infinite;
}

@keyframes sprite {
    from { background-position: 0px; }
    to { background-position: -2880px; }
}